<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
  </head>
  <body>
    <div class="top-bar">
      <nav class="topMenu">
        <ul>
          <li class="menuImage">
            <a href="#"><img src="{{ url_for('static', filename='logo/logo_word_black.png') }}" alt="AHRIAHRI" class="menuImg"></a>
          </li>
          <li class="menuNav">
            <a href="us" class="menuLink">About US</a>
          </li>
          <li class="menuNav">
            <a href="proj" class="menuLink">Proj</a>
          </li>
          <li class="menuNav">
            <a href="stock" class="menuLink">Stock</a>
          </li>
          <li class="menuNav">
            <a href="community" class="menuLink">Community</a>
          </li>
          <li class="menuLogin">
            <a href="login" class="menuLink">LogIn</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="main" style="background-image: url({{ url_for('static', filename='logo/아리아리.jpg') }});">
      <p class="main_intro">기술과 사람으로</p>
      <p class="main_intro_add">더 나은 세상을 만드는</p>
      <p class="main_intro_add">아리아리입니다</p>
    </div>
    <div class="main_introduce_1">
      <p>대충 내용 설명이 들어갈 자리</p>
    </div>
  </body>
</html>
양태빈 바보
