<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static',filename='logo/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    <script src="http://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="top-bar">
      <nav class="topMenu">
        <ul>
          <li class="menuImage">
            <a href="#"><img src="{{ url_for('static', filename='logo/logo_word_black.png') }}" alt="AHRIAHRI" class="menuImg"></a>
          </li>
          <li class="menuNav">
            <a href="us" class="menuLink">About US</a>
          </li>
          <li class="menuNav">
            <a href="proj" class="menuLink">Proj</a>
          </li>
          <li class="menuNav">
            <a href="stock" class="menuLink">Stock</a>
          </li>
          <li class="menuNav">
            <a href="community" class="menuLink">Community</a>
          </li>
          <li class="menuLogin">
            <button type="button" id="login_click" name="button">Kakao Login</button>
            <script type="text/javascript">
              document.getElementById('login_click').onclick = function() {
                Kakao.init('734a58ba8d1de6eb1485389492741493');
                Kakao.Auth.login({
                  success:(auth)=>{
                    console.log("로그인 완료",auth)
                  },
                  fail:(err)=>{
                    console.error(err)
                  }
                });
                Kakao.API.request({
                  url: '/v2/user/me',
                  success: function(response) {
                    console.log(response['id'])
                    document.getElementById('login_click').innerText = String(response['properties']['nickname'])+" 님";
                    document.getElementById('login_click').setAttribute('id','profile');
                    $.ajax({
                      type: 'POST',
                      url: "/log_res",
                      data: {"id": response['id']}
                    });
                  },
                  fail: function(error) {
                    console.log(error);
                  }
                });
              };
            </script>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
